@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#page-background {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
}

.glass1 {
    background-color: rgba(200, 255, 255, 0.2);
    box-shadow: 8px 12px 18px rgba(0, 0, 60, 0.4);
    backdrop-filter: blur(4px);
}

.glass2 {
    background-color: rgba(150, 210, 200, 0.6);
    border: 2px solid rgb(255, 255, 255, 0.25);
    /* box-shadow: 0px 6px 8px rgba(0, 0, 60, 0.4); */
    backdrop-filter: blur(2px);
}

#fascade {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    height: 90%;
}

.main-box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: clamp(600px, 32vw, 650px);
    height: clamp(240px, 28vh, 260px);
    padding: 2.5rem;
    border-radius: 2.5rem 2.5rem 2.5rem 2.5rem;
}

#intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1.125rem;
}

#proj-title {
    font-family: 'Nunito', sans-serif;
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
    line-height: 1;
}

#proj-subtitle {
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
}

#search-error {
    font-weight: 600;
    color: rgb(220, 0, 30);
}

#search-area {
    box-sizing: content-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.search-field {
    width: 80%;
    padding: 0.7rem 1.1rem;
    font-size: 1rem;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 1rem 0 0 1rem;
}

.search-button {
    flex-grow: 1;
    height: 100%;
    padding: 0.6rem 1rem;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 0 1rem 1rem 0;
    background-color: rgb(0, 180, 80);
    font-size: 1rem;
    font-weight: 500;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.search-button:hover {
    background-color: rgb(0, 140, 60);
}

.bottom-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: clamp(600px, 32vw, 650px);
    height: clamp(360px, 40vh, 390px);
    padding: 2rem;
    border-radius: 2rem 2rem 2rem 2rem;
}

.bottom-box-p {
    font-family: 'Nunito', sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
}

.aqi-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem 0.5rem 0.5rem 0.25rem;
    font-family: 'Nunito', sans-serif;
    font-size: 1.25rem;
}

.comp-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    width: 100%;
    padding: 0.5rem 0 0 0;
    border-top: 2px solid rgba(150, 210, 210, 0.8);
}

.pollutant {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-500 {
    font-weight: 500;
}

.glow-green {
    box-shadow: 
            0px 0px 15px rgba(0, 208, 40, 0.5),
        0px 0px 40px rgba(0, 130, 25, 0.7);
}

.glow-yellowgreen {
    box-shadow: 
        0px 0px 15px rgba(173, 255, 47, 0.5),
        0px 0px 40px rgba(94, 160, 30, 0.7);
    }

.glow-orange {
    box-shadow: 
        0px 0px 15px rgba(255, 165, 0, 0.5),
        0px 0px 40px rgba(160, 104, 0, 0.7);
}

.glow-red {
    box-shadow: 
        0px 0px 15px rgba(255, 0, 0, 0.5),
        0px 0px 40px rgba(160, 0, 0, 0.7);
}

.glow-purple {
    box-shadow: 
        0px 0px 15px rgba(160, 0, 85, 0.5),
        0px 0px 40px rgba(100, 0, 54, 0.7);
}

.glow-black {
    box-shadow: 0px 0px 40px rgba(20, 20, 20, 0.8);
}

.hide { display: none; }





















/* 

@media only screen and (max-width: 1024px) {
    .main-box {
        width: 100vw;
    }
} 
*/
